 body {
    background-color:#F8EDE3;
 }
     h1 { 
        color: #C5705D; 
     }
     h3 { 
        color:#C5705D;
     }
      
      hr {border-style: none;
          border-color:grey ;
          border-top-style: dotted;
          border-width:5px;
          width: 5%;
          }
          img { 
            height: 200px;
          }