body {background-color: #A1CCD1;}
 h1 {color: #002B5B;}

  h3 {color: #002B5B;}

      hr {
       border-style:none;
       border-top-style: dotted;
       border-color: oldlace;
       border-width: 5px;
       width: 10%;}
       img {height: 150px;}